.projects{
    padding-left: 130px;
    padding-top: 20px;
}
.netflix{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    /* display: flex; */
    
}
.covid{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    
}
.khabar-aajtak{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}
.forms{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
}
#video{
    text-align: center;
}
.covid{
    text-align: right;
    padding-right: 100px;
}
.covid-chart{
    border-radius: 2%;
    border-color: black;
}