.projects{
    padding-left: 130px;
    padding-top: 20px;
}
.netflix{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    
}
.covid{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    
}
.khabar-aajtak{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}
.forms{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}
